# TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [56]:
import pandas as pd 
from scipy import stats

In [57]:
df=pd.read_csv('/content/Costomer+OrderForm.csv')

#As these are categorical data so we use chi-squre test 

#hypothesis is 

#  Ho= % of defective of all countries are equal i.e % Phillipness=%Indonesia=%Malta=%India
#  Ha =At lest one defective% is not equal

In [58]:
x=df['Phillippines'].value_counts(),df['Indonesia'].value_counts(),df['Malta'].value_counts(),df['India'].value_counts()
x

(Error Free    271
 Defective      29
 Name: Phillippines, dtype: int64, Error Free    267
 Defective      33
 Name: Indonesia, dtype: int64, Error Free    269
 Defective      31
 Name: Malta, dtype: int64, Error Free    280
 Defective      20
 Name: India, dtype: int64)

In [59]:
df=pd.DataFrame(index=['Phillippines','Indonesia','Malta','India'],data={"Error Free":[271,267,269,280],"Defective":[29,33,31,20]})
df

              Error Free  Defective
Phillippines         271         29
Indonesia            267         33
Malta                269         31
India                280         20

In [60]:
chiStats=stats.chi2_contingency(df)
chiStats

(3.8589606858203545, 0.2771020991233144, 3, array([[271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25]]))

In [61]:
chiStats[1]

0.2771020991233144

{p-value>0.05}

value is greater than significance level (0.05)

Accept Null Hypothesis

defective percentage is same in all countries there is no need of any action